<!DOCTYPE html>
<html>
  <head>
    <title>Loading Animation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loading.css') }}">
  </head>
  <body>
    <div class="loader"></div>
    <pre class="loadingText">
      Loading...
      Please wait, 
      Report is getting ready
    </pre>
    <a href="https://aag-it.com/the-latest-phishing-statistics/" target="_blank">
      DID YOU KNOW ?: 
    </a>
    <p id="facts"></p>
    <script src="{{ url_for('static', filename='loadingscript.js') }}"></script>
  </body>
</html>
